{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }} - Finance Hub</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body class='dark'>
    <header>
        <div class="layout">
            <nav class="navbar">
                <ul>
                    <li>
                        <a href="{% url 'finance:home' %}">
                            <span class="symbol">
                                <img class='logo-img' src="{% static 'imgs/logo.png' %}" alt="Logo" />
                            </span>
                            <span class="text">Início</span>
                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'finance:dashboard' %}">
                                <span class="symbol fa fa-chart-bar"></span>
                                <span class="text">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'user_profile:profile' %}">
                                <span class="symbol fa fa-user-circle"></span>
                                <span class="text">Perfil</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'authentication:logout' %}">
                                <span class="symbol fa fa-sign-out-alt"></span>
                                <span class="text">Sair</span>
                            </a>
                        </li>
                       
                    {% else %}
                        <li>
                            <a href="{% url 'authentication:login' %}">
                                <span class="symbol fa fa-sign-in-alt"></span>
                                <span class="text">Entrar</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'authentication:signup' %}">
                                <span class="symbol fa fa-user-plus"></span>
                                <span class="text">Cadastrar</span>
                            </a>
                        </li>
                    {% endif %}
                    <button onclick='switcher()' id="theme-switcher-link">
                        <span class="symbol theme-switcher fa fa-sun" id="theme-icon"></span>
                        <span class="text">Trocar Tema</span>
                    </button>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content full-size">
        {% if messages %}
            <div class='container-messages'>
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }} "{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
